

<!-- <div style='width:550px; border-bottom: 8px solid hsl(0, 100%, 50%);' class="rainbow_border line"></div>
<div style='width:500px; border-bottom: 6px solid hsl(0, 100%, 50%);' class="rainbow_border line"></div>
<div style='width:450px; border-bottom: 4px solid hsl(0, 100%, 50%);' class="rainbow_border line"></div>
<div style='width:400px; border-bottom: 2px solid hsl(0, 100%, 50%);' class="rainbow_border line"></div>
 -->
<div style='width:350px; border-bottom: 2px solid hsl(0, 100%, 50%);' class="rainbow_border line"></div>
<div style='width:300px; border-bottom: 1px solid hsl(0, 100%, 50%); margin-top: 8px;' class="rainbow_border line"></div>
<div style='width:250px; border-bottom: 1px solid hsl(0, 100%, 50%); margin-top: 8px;' class="rainbow_border line"></div>
<div style='width:200px; border-bottom: 1px solid hsl(0, 100%, 50%); margin-top: 6px;' class="rainbow_border line"></div>
<div style='width:150px; border-bottom: 1px solid hsl(0, 100%, 50%); margin-top: 6px;' class="rainbow_border line"></div>