<h1 class="h1-header">Contact</h1>
<hr class="dashed">

<div class="row-fluid">
	<div class="span2"></div>
	<div class="span3 well contactWell" style="text-align:center;" >
		<%= link_to image_tag("envelope.png") %>
		<h4 style="margin-top:40px;">Email:</h4>
		<p style="color:#2B89BB;">mike.holubowski@gmail.com</p>
	</div>
	<div class="span2 visible-desktop">
		<br>
		<br>
		<br>
		< -- either one --></div>
	<div class="span3 well contactWell" style="text-align:center;">
		<%= link_to image_tag("skype.png") %>
		<h4 style="margin-top:40px;">Skype Id:</h4>
		<h3 style="color:#2B89BB;">michael.holubowski</h3>
	</div>
</div>