<h1 class="h1-header">Contact</h1>
<hr class="dashed">

<div class="row-fluid">
	<div class="span2"></div>
	
	<div class="span3 well contactWell">
		<%= link_to image_tag("envelope.png") %>
		<h4>Email:</h4>
		<h3>mike.holubowski@gmail.com</h3>
	</div>
	
	<div class="span2 visible-desktop">
		<br>
		<br>
		<br>
		<p>< -- either one --></p>
	</div>

		<!-- Class 'contactWell' for MedQuer -->
	<div class="span3 well contactWell">
		<%= link_to image_tag("skype.png") %>
		<h4>Skype Id:</h4>
		<h3>michael.holubowski</h3>

	</div>
</div>