
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="slogan">
			Technology is <span class="blue">important</span>
		</div>
	</div>
</div>


<div class="row-fluid">
	<div class="span10 offset1">
		<img src="http://fakeimg.pl/850x300/fff/333">
	</div>
</div>


<div class="row-fluid">
	<div class="span10 offset1">
		<div class="slogan center"> Especially for business</div>
	</div>
</div>


<div class="row-fluid">
	<div class="span10 offset1">
		<div id="search_stats" class="align-center">
			<%= image_tag 'search_stats.png' %>
			<br>
			<%= link_to raw("Searches don't lie &raquo;"), 'http://www.google.com/trends/explore#q=website%20for%20my%20business%2C%20start%20an%20online%20business&date=11%2F2008%2051m&cmpt=q' %>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span10 offset1">
		<div class="slogan center"> I can make you any type of website</div>
	</div>
</div>



<div class="row-fluid">
	<div class="span4"> <img src="http://fakeimg.pl/320x500/ccc/333"> </div>
	<div class="span4"> <img src="http://fakeimg.pl/320x500/ccc/333"> </div>
	<div class="span4"> <img src="http://fakeimg.pl/320x500/ccc/333"> </div>
</div>

<div class="row-fluid">
	<div class="span10 offset1">
		<div class="slogan center"> With the finest technologies</div>
	</div>
</div>

	<div class="row-fluid">
		<div class="span2 offset10">
			<div class="asterisk">
				<span>&#42;</span> These technologies have one thing in common: they're tough to learn but great to work with
			</div>
		</div>
	</div>
