
<div class="slogan">
	Technology is 
	<span class="blue">i</span>
	<span class="red">m</span>
	<span class="yellow">p</span>
	<span class="blue">o</span>
	<span class="green">r</span>
	<span class="red">t</span>
	<span class="yellow">a</span>
	<span class="blue">n</span>
	<span class="green">t</span>
</div>

<row-fluid>
	<div class="span5 offset1">
		<img src="http://fakeimg.pl/850x300/fff/333">
	</div>
	<div class="span4"></div>
</row-fluid>

<div class="slogan center"> Especially for business</div>
<br>
<div id="search_stats" class="align-center">
	<%= image_tag 'search_stats.png' %>
	<br>
	<%= link_to raw("Searches don't lie &raquo;"), 'http://www.google.com/trends/explore#q=website%20for%20my%20business%2C%20start%20an%20online%20business&date=11%2F2008%2051m&cmpt=q' %>
</div>

<div class="slogan center"> I can make you any type of website</div>

<div class="row-fluid">
	<img src="http://fakeimg.pl/320x500/ccc/333">
	<img src="http://fakeimg.pl/320x500/ccc/333">
	<img src="http://fakeimg.pl/320x500/ccc/333">
</div>

<div class="slogan center"> With the finest technologies</div>

