<div class="intro-wrapper">
	<div class="row-fluid">
		<div class="span10 offset1">
			<div class="slogan" style="color:white;">
				Here I will put <span class="blue">cool</span> words
			</div>
		</div>
	</div>
	
	<%= render 'rainbow' %>

<!-- 	<div class="row-fluid">
		<div class="span10 offset1">
			<div class="slogan center"> and some <span class="blue">provacative</span>  things here too </div>
		</div>
	</div> -->

</div>
