
<div id="projectArea" style="position:relative;">
	 
	<h1 class="h1-header"><a href="/projects">Projects</a></h1>
	<hr class="dashed">
	
	<!-- Project Board Area -->
	<div id="projects">

		<div class="row-fluid">
			<a href="projects/set">
				<div id="set" class="span7 shadow-dark bg-white"></div>
			</a>
			<a href="projects/true_false">
				<div id="trueFalse" class="span5 shadow-dark bg-white"></div>
			</a>
		</div>
	
		<div class="row-fluid">
			
			<!-- Project 1 -->
			<a href="/projects/outfit">
				<div id="outfitSystems" class="span8 shadow-dark bg-white">
			</div></a>
	
			<!-- Project 2 -->
			<a href="/projects/ivlaundry">
				<div id="ivLaundry" class="span4 shadow-dark bg-white"></div>
			</a>
	
		</div>
	
		<div class="row-fluid">
			<!-- Project 3 -->
			<a href="/projects/alliedgreeks">
				<div id="alliedGreeks" class="span5 shadow-dark bg-white"></div>
			</a>
	
			<!-- Project 4 -->
			<a href="/projects/followalong">
				<div id="followAlong" class="span7 shadow-dark bg-white"></div>
			</a>
	
		</div>
	
		<div class="row-fluid">
	
			<!-- Project 5 -->
			<a href="/projects/efp">
				<div id="efp" class="span4 shadow-dark bg-white"></div>
			</a>
	
			<!-- Project 6 -->
			<a href="/projects/alliance">
				<div id="allianceAutoBody" class="span4 shadow-dark bg-white"></div>
			</a>
	
			<!-- Project 7 -->
			<a href="/projects/mikeho">
				<div id="mikeHo" class="span4 shadow-dark bg-white"></div>
			</a>
	
		</div>

	</div>

</div>


