<h1 class="h1-header"><a href="/projects">Projects</a></h1>
<hr class="dashed">

<div id="projects">

	<div class="row-fluid">

		<div id="outfitSystems" class="span8 shadow-dark bg-white"> 

		</div>

		<div id="ivLaundry" class="span4 shadow-dark bg-white">

		</div>

	</div>

	<div class="row-fluid">

		<div id="alliedGreeks" class="span5 shadow-dark bg-white"> 

		</div>

		<div id="followAlong" class="span7 shadow-dark bg-white">

		</div>

	</div>
<!-- 
	<div class="row-fluid">
		<div id="have-an-idea" class="span9 offset3 shadow-dark bg-white"></div>
	</div> -->

	<div class="row-fluid">

		<div id="efp" class="span4 shadow-dark bg-white"> 

		</div>

		<div id="allianceAutoBody" class="span4 shadow-dark bg-white">

		</div>

		<div id="mikeHo" class="span4 shadow-dark bg-white"> 

		</div>

	</div>
</div>