<!DOCTYPE html>
<html> 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RS 155 Holubowski</title>
    <meta name="description" content="RS 155 Final Project. Winter 2013.">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/mike.css">
    <style>
#rs155 .red{color:red !important}#rs155 .em{font-style:italic !important}#rs155 .strong{font-weight:600}#rs155 #rs155{background-color:#a8b3ab} body{background-color:#a8b3ab;background-image:url("/img/bg.png");padding:none}#rs155 div.header{width:100%;min-height:80px;min-width:960px;background-color:#444;box-shadow:2px 0 5px #000;margin-left:auto;margin-right:auto;text-align:center}#rs155 div.header h1{margin:0px;color:white;text-shadow:2px 2px 3px rgba(255,255,255,0.1)}#rs155 div.header h1:hover{color:white}#rs155 div.header ul#nav{display:inline}#rs155 div.header ul#nav a{color:#ddd;margin:0px 7px}#rs155 div.header ul#nav a:hover{color:#ccc}#rs155 div.header ul#nav li{font-family:courier new;display:inline}#rs155 div.container{width:100%;padding:70px 10px 50px 10px;min-width:960px}#rs155 div#floating-count{position:fixed;top:300px;left:125px;font-size:5.0em;background-color:#56661a;border-radius:10px 40px}#rs155 div.writing{max-width:625px;padding:20px 17px;margin-top:30px;margin-left:auto;margin-right:auto;background-color:#ecf0da;border:1px solid #d1c9b1;border-top-width:3px;box-shadow:1px 1px 14px 5px}#rs155 div.writing:hover{background-color:#d6deae}#rs155 div.writing h3{font-family:courier new;margin-bottom:5px}#rs155 div.writing h4{font-family:courier new;margin:0px}#rs155 div.writing p{font-family:courier new}

    </style>
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
<div id="rs155">
    <div class="header" style="position: fixed; top: 0;">
        <h1>Religious Studies 155 - <small>Mike Holubowski</small></h1>
        <ul id="nav">
            <a href="#1">
                <li>one</li>
            </a>
            <a href="#2">
                <li>two</li>
            </a>
            <a href="#3">
                <li>three</li>
            </a>
            <a href="#4">
                <li>four</li>
            </a>
            <a href="#5">
                <li>five</li>
            </a>
            <a href="#6">
                <li>six</li>
            </a>
            <a href="#7">
                <li>seven</li>
            </a>
            <a href="#8">
                <li>eight</li>
            </a>
        </ul>
    </div>

    <div class="container">
        <div id="floating-count">
            &raquo;
        </div>
        <!-- MAIN CONTENT -->

        <div id="1" class="writing">
            <h3>WWWCD</h3>
            <h4>What would Walter Capps do</h4>
            <hr>
            <p>On the first day of class, after the initial syllabus, we were introduced to Walter Capps. Or at least to the memory of Professor Capps, who started this ultra successful (and now quite famous) course at UCSB. Immediately I was very proud to hear that UCSB held the first official course on the Vietnam war, and a bit bummed out that I would not experience the same professor as the first class did many years ago (no offense meant to anyone!). Just as one of my favorite and recently deceased professors, Dr. Babcock, deserves the highest respects, it seems that Professor Capps did too. So of course I was excited to read his work, "<em>The Unfinished War: Vietnam and the American Conscience</em>". It seemed to align with the goal of the class, to examine the effects of the Vietnam war on individuals of both sides, and on our country as a whole. </p>
            <p>When learning about any American historical event, I need to start at the beginning with the historical context, as I am extremely unfamiliar with US history. <em>The Unfinished War</em> helped me with the context of the Vietnam war. In retrospect, I have done poorly in many of my history classes because the topics are massive and vague: "Western Civilization" or "The Middle Ages". I hope that focusing on a specific and modern event will help me finally learn something of true significance other than dates. And that is why I am taking this course, to <em>feel</em> something instead of just memorizing. Here is a list of things I hope to learn by the end of the quarter:</p>
            <ol>
                <li>The historical context of Vietnam and the US prior to the war.</li>
                <li>US and Vietnamese public opinion before the war.</li>
                <li>How young draftees and volunteers felt about the war.</li>
                <li>First hand account of the war, hopefully from both side.</li>
                <li>PTSD</li>
                <li>Long term effects of the war. Economic and Social.</li>
            </ol>
            <p>Hopefully these goals are aligned with what Walter Capps would want his students taking away from RS 155. There will probably be a long list of things I deem more valuable as the class progresses, and I hope to really learn from the first hand accounts in class.</p>
            <p><em>Update:</em> I found this interesting <a href="http://www.independent.com/news/2008/apr/10/keeping-representative-cappss-legacy-alive-ucsb/" target="_blank">article</a> on Professor Capps a few weeks after first writing this.</p>
        </div>

        <div id="2" class="writing">
            <h3>A Face of War</h3>
            <h4>Basic Info about the movie</h4>
            <hr>
            <p><em>Note:</em> This is the one writing I did (mostly) in class, I hoped to write down exactly when I was feeling - stream of consciousness style - as the movie played.</p>
            <p>The events described over a period of 97 days in Vietnam in the movie were raw and authentic. Immediately, the lack of background sound effects and music silently grabbed my attention. </p>
            <p>The first zoom in on the soldiers' faces showed that a few of them were very new, while the more confident soldiers had obviously been there a while.</p>
            <p>The initial explosion of noise and action brought the students into the battlefield with the wounded soldier. I've always <em>expected</em> a glorious death for myself, spending my last moments in a warm bed with a nice view...surrounded by friends and family. The fact that so many young men and women were robbed of a comfortable passing hurt me the most. Reminds me of my Grandpa again.</p>
            <p>The little things kept the soldiers going. This idea was echoed by one of the soldiers begging for an extra cigarette or magazine. What would I grab in my last minute? Would it be a person or thing? I'm not looking forward to finding out, though it would be interesting to know. </p>
            <p>The Helicopter scene reminded me of Wilson's accounts of his experience as a Chinook pilot. I can't grasp that he was my age, and now standing in from of me so much older.</p>
            <p>In 1965 they thought they were helping the Vietnamese from Communism. They fully believed that Communism was a world threat and needed to be stopped at any cost. Kennedy agreed to support the South Vietnamese Government, Johnson took office and escalated the war. They held sick call there every day. People flocked there to get medical attention form the soldiers. They were arrogant in the way they treated the Vietnamese villagers. They would just napalm the village to help prevent the VietCongs flow of supply. Killing someone seems too intense to grasp. I would try to hide from my guilt behind excuses.</p>
            <p>We were left with this question: <span class="red">If I didn't do anything wrong, then why do I feel I need to be forgiven?</span> </p>
        </div>

        <div id="3" class="writing">
            <h3>My First 25 Days in Vietnam</h3>
            <h4>A writing by Jim Nolan</h4>
            <hr>
            <p>Meeting the author of a story, the director of a movie, or the artist behind a piece makes the work exponentially more meaningful. I first 'met' Jim Nolan on the first day of class and at that point he was nothing more that a stranger. Over the next few weeks, I believe the entire class quickly grew to respect Jim Nolan. For the first time in a long time, I was looking forward to reading a homework assignment. While reading Jim Nolans account <em>My First 25 Days in Vietnam</em> I tried to keep in mind that <strong>he was the same age as me</strong> when it all happened.</p>
            <p>I've driven past the Camp Pendleton exit dozens of time, and the hot September day that Jim describes bring back recent memories of working in San Diego.</p>
            <p>Jim's story is about starting a new chapter of his life, and every new chapter begins with letting go. The last time I had to let go was leaving for college, where I knew I would be safe and could return home at any time. If I instead had to ship off to war, the butterflies in my stomach would have gotten the best of me. What it must have felt like to depart on the greatest and most dangerous adventure of his life.</p>
            <p>When I left on my great adventure (to college), my life changed dramatically. I met someone here who makes it difficult to image me not knowing her. Jim Nolan met Charlie Slager, the man who taught Jim how to sleep, walk, live and survive in Vietnam. The part of Jim's account that shows his love of Charlie was his volunteering to walk point. Its difficult to image wanting to prove yourself so badly that you risk your life. People always try to prove themselves to each other and build relationships, buts its very rarely a life or death matter. There must have been such a feeling of mutual respect amongst troops in the war. </p>
            <p>Jim spoke of camaraderie in he writing. As a child, I was always taught to work together and get along with my brother and cousins. We have a sense of camaraderie, as so my old football teammates and my current house mates. I know first hand that camaraderie is best build through mutual sacrifice and hard work...and it seems like war is the the ultimate bond builder.</p>
            <p></p>
        </div>
        <div id="4" class="writing">
            <h3>Harry - Captain</h3>
            <h4></h4>
            <hr>
            <p>Harry, like the other speakers, grew up with a history of service in his family...he "had an aspiration to follow [his] father." This is something I've been grappling with, trying to understand why some kids whose parents were never in the Military still want to go. I've had cousins who really wanted to be in the Army/Navy/Airforce, and I always thought it was because of video games. Video games and movies brainwashed my Brother and cousins into liking shooting and fighting and running around like an idiot fighting other people's battles. But that was just my opinion.</p>
            <p>I think I'm beginning to understand the need to serve that the children of Veterans feel. Especially those whose mother or father died in battle. My dad sacrificed years of his life for me, and thats enough to get me through a tough day, but he didn't die. I still get to see him every day. My life would not be the same without a father. Is sacrificing your life for your country fair? Personally, I would say f*ck the country...I need be there for my kids. But maybe once in a while being there for your kids means fighting in a war. Still, I couldn't see myself ever doing it, I'm too selfish. I want to experience a normal fun life, and I want all my family members and children to be safe for the entirety of their lives.</p>
            <p>I enjoyed that the Captain talked to us about his days at the Naval academy. He gave the first account of going through one of the academies and being of a high rank. The Naval academy expected performance and the meeting of set expectations. "Performance measurement was a religion at the academy." They spoke of <em>mental toughness</em>, to persevere in pursuit of a goal, no matter how long it takes or how much pain is involved.</p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div id="5" class="writing">
            <h3>Kevin's off to the Air Force</h3>
            <h4>I just found out my brother will be attending the Air Force academy</h4>
            <hr>
            <p>I just found out my brother will be attending the Air Force academy, and I hate it. I like it too, and I'm happy for him. Years of hard work, and I mean very hard work, have opened doors for my younger brother. Kevin my quite, gentle, motivated little brother will be playing division 1 football for the United States Air Force Academy, and I'm scared. I hate that he'll be stressed, over worked, and away from my family.</p>
            <p>I hate that Kevin will be gone, just like my cousins when they went off to college. I hate that he'll be in Colorado when I'm in California. I hate they he'll have an entirely different college experience than mine. I'm angry at my parents for not having enough money to have kept my little brother a sheltered, spoiled kid who would never dream of joining the Air Force. I hate that my mother will be alone at home, worrying day and night about him - she already cries when I drive up the coast to UCSB.</p>
            <p>I hate that I've already had two dreams about my brother getting hurt. Could there be anything worse than loosing your only sibling? Then again, I like that Kevin is about to live out his dream of playing football on national television. I like that he'll be happy with the discipline and hard work and regimen of the academy. I know he'll like the location and scenery and fresh air - he always has.</p>
            <p>Maybe I don't quite know if I like it or hate it. On one hand he'll be living out his dream, but what about my mom's dream? I know that all she cares about is being close to her family. And what about me? Why should I be the one who's brother could get shipped off over seas at any moment? I'm not sure... all I know is that I love Kevin.</p>
        </div>
        <div id="6" class="writing">
            <h3>Lecture on PTSD</h3>
            <h4>By Dr. Sharon Rapp</h4>
            <hr>
            <p>I learned many things this quarter, one of the most insightful has been hearing on multiple occasions about the effects of PTSD. The more ignorant me of a few months ago thought of PTSD as too vague to warrant serious attention. I grouped it in with something along the lines of ADD. I believe there is a negative stereotype associated with both disorders due to the general abuse of the terms in society. It seems that every one of my friends has ADD, especially around finals week where taking prescription medication is all too accepted. There is a similarity in the use of the words 'traumatic' and 'post traumatic stress'. I've heard all too often about someone having a 'traumatic event' when they narrowly avoided a bumper collisions on the way to class. </p>
            <p>Of course, I've read about PTSD, and the Gulf War Syndrome and have read account of older men and women suffering years after and event. But this class seems to have driven it home for me. The combination of first hand accounts by Wilson and Jim and Dr. Rapp's guest lecture on Post Traumatic Stress Disorder has familiarized me with the disorder.</p>
            <p>I find Psychology fascinating, and the fact that grown men have both physical and mental side effects of events from decades ago is tough to truly comprehend. Having a legitimate authority figure in Dr. Rapp speaking of her knowledge and about Wilson's specific case was an eye opener and excellent introduction into the entire field of Veteran care and rehabilitation. The most interesting part of the lecture, and one of my favorites of the entire course, was Dr. Rapp's dialog with Wilson. It made everyone in the class appreciate how open the speakers are with us strangers.</p>
            <p>I wonder how much effort, at a federal level, goes into proper rehabilitation of returning war veterans. Such rehabilitation extends past physical wounds and into long-term psychiatric care. Dr. Rapp seemed to really care about assimilating veterans into a more comfortable lifestyle and outlook. Again, the most shocking part of their stories must be their young age.  For all this to happen at such a yong age and have them return home to their same age group...which remained mostly static while others were at war really shook them up. Just as I have changed <em>dramatically</em> in the few short years since leaving for college, Wilson and Jim came back entirely different. I wonder how close in touch the men who returned remained in the first few weeks home. I try to image myself in their shoes, and things must have been so strange after the initial excitement of returning home slowly wore off. </p>
            <p></p>
            <p></p>
        </div>
        <div id="7" class="writing">
            <h3>PTSD</h3>
            <h4><em>Achilles in Vietnam</em> - Jonathan Shay</h4>
            <hr>
            <p>This course was the only true 'life science' I had the pleasure of taking this quarter. The rest of my time is spent studying Economic theory or programming web application at work. Most of the things I'm very good at are hard, quantitative studies. With clear path to learn difficult concepts, and expected results. All of this breaks down when examining people. I believe the human mind is the last great frontier (maybe technology and space as well) left mostly unexplained. So any time a course tries to explain human behavior, whether its with logical reasoning in economics or chemical reactions in bio psychology, I am intrigued. The entire topic of PTSD has intrigued me from the start of the quarter.</p>
            <p>In trying to tie the course to our readings, Jonathan Shay's <em>Achilles in Vietnam</em> proves to be an easy choice. I most enjoyed Shay's take on the psychological analysis of PTSD, which seemed to reinforce some of the things Dr. Rapp spoke of. The violence, physical deprivation, and combat that the young men experience must have been very difficult to endure, but the physical wound don't seem to be the most difficult to overcome. The grand confusion of the veteran's is what really stuck with me.</p>
            <p>Many that went off to war came from a military family, and were set to follow in the footsteps of their father/grandfather. Their ancestors fought brave, important battles and their sacrifices helped shape the United States of America. The Vietnam veterans were robbed of such acclaim. All gave at least some sort of serious sacrifice in Vietnam, and upon returning they were looked down upon by the public, friends, and sometimes even their own family. Shay writes about a Veteran whose experiences reinforce this fact, and Jim even refused to acknowledge his own status as a veteran on some occasions (job seeking).</p>
            <p>As I mentioned in the pros of my brother going off to the Air Force, comradarity is a very powerful and sought after thing. Shay draws a parallel between Achille's relationship with Patroclus and the close bond that war Veterans experienced. Immediately, I thing of Jim's love for Charlie and the devastation is caused him when he lost Charlie. Loosing someone who takes care of you must be incredibly scary. My roommate, who recently lost his father, has shared with me the loss of certainty and support - the backbone to his life - and how it has changed him for better and for worse. These personal accounts are how knowledge is truly spread. And thats why this class has been so incredibly insightful, because all the literature is anchored by the real life accounts of Jim and Wilson.</p>
        </div>
        <div id="8" class="writing">
            <h3>Letter to My Brother</h3>
            <h4>Love you mate</h4>
            <hr>
           <p>Kevin,</p>
            <p>In the next few months you’ll experience a dramatic change in every aspect of your life.  When you get on the plan to Air Force this summer, you’ll begin the next chapter of your life. You won’t have any money, good food, or close friends and you’ll once again be a freshman – the new guy who doesn’t know much. However, you will have one –very important – thing. You’ll know that you earned your spot at that academy and on that team.  You’ll know that you earned the respect of hundred of people back home, most importantly your family. And you’ll know that from now on, and for the first time, every decision you make will be your own. From now on, every time you decide to wake up early, study longer, or work harder you’ll have the amazing satisfaction of know that it was your choice.</p>
            <p>Life is a series of decision little bro, and so far you’ve been making the right ones. All I ask is that in the next year (and for the rest of your life) you keep an open mind to everything this life has to offer. I hope you fall in love with your school, your classes, and your football team. You’ll have two hardworking parents and an older brother who are willing to sacrifice anything to help you. Realize that I just want to have a little brother who is happy and safe. </p>
            <p>You were born more intelligent than most people, but more importantly – you’ve grown up to be harder working than anyone I know. Work harder than the next guy, stay happy, and keep in touch with the people who really do care about you.</p>
        <p>Go Falcons</p>
        <p>- Mike</p>

        </div>







    </div>



    <div class="header">
        <h1>Religious Studies 155 - <small>Mike Holubowski</small></h1>
        <h2>Thank you</h2>
    </div>
</div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script>  
        $(document).ready(function(){
            $("a").click(function() {
                $("html, body").animate({
                    scrollTop: $($(this).attr("href")).offset().top-100 + "px"
                }, {
                    duration: 750,
                    easing: "swing"
                });
                return false;
            });
        // $('.writing').hide();
        // askForPassword('Please enter the password Dr. Hecht.');
        })

        function askForPassword(prompt){
            var password = window.prompt(prompt);
            if (password.toLowerCase() == 'rs155' || password.toLowerCase() == 'rs 155'){
                $('.writing').show(1300);
            }
            else{
                askForPassword('Wrong password! Please try again.')
            }
        }
    </script>

</body>
</html>
