
<div class="row-fluid">
	<div class="span4" style="text-align:center">
		<h1 class="code-yellow" style="font-weight:100;">Mike Holubowski</h1>
		<hr>
		<hr style="width:90%;">
	</div>
	<div class="span4" style="text-align:center">
		<img src="http://www.gravatar.com/avatar/76743e4c14368f817ea4fff3c7e72b34.png?s=125" alt="Mike Holubowski - Gravatar" />
		<p>gravatar</p>
	</div>
	<div class="span4" style="margin-top:17px;">
			<h4 class="code-yellow typed" style="font-size: 1.2em;">Student <em>of</em> Web Development <span>&nbsp;</span></h4>
			<br>
			<hr>
			<hr style="width:90%; margin-left:10%;">
	</div>
</div>
<hr>
<h2>heading two</h2>
<hr>
<h3 class="code-yellow">heading three</h3>
<hr>
<h4 class="code-blue">heading four</h4>
<hr>

<p class="code-yellow">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco <span class="code-blue">laboris</span> nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<hr>
<div class="well">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
	<ul>
		<li class="code">list item</li>
		<li>list item</li>
		<li>list item</li>
		<li>list item</li>
		<li>list item</li>
	</ul>

