// Place all the styles related to the Admin/Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ----- index
.post-row {

}

.post-index {
  display: inline-block;
  font-size: 50px;
  margin-bottom: 50px;
  color: darken($app-bg-color, 55%);
  &.inactive {
    color: darken($app-bg-color, 10%);
  }
}

.post-wrapper {
  margin: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 1px -1px #ccc;
  max-width: 90%;
  display: inline-block;
  &.inactive {
    opacity: 0.7;
    box-shadow: none;
  }

  .section-wrap {
    padding: 5px;
    border: 1px solid #ddd;
  }

  .top-wrapper {
    width: 100%;
    background-color: $yellow-orange;
    color: #444;
    font-size: 16px;
    .title {
      padding: 3px;
      max-width: 80%;
      display: inline-block;
    }
    .edit {
      padding: 3px;
      float: right;
      display: inline-block;
      border-left: 1px solid darken($yellow-orange, 7%);
      @include clickable;
      &:hover {
        background-color: lighten($yellow-orange, 5%);
      }
      span {
        color: #fff;
      }
    }
  }
  .author {

  }
  .url-alias {

  }
  .body {

  }
  .footer-container {
    border-top: 1px dashed #ccc;
  }
}

// ------ Admin Table View



// ------ New Post

.new-post-form-wrapper {
  border-right: 1px dashed #ccc;
}

.new-post-preview-wrapper {

}
