<div id="projectArea">
	<h1 class="h1-header">
		<a href="/projects">Projects</a> <span>  &#62; Alliance Auto Body</span> </h1>
	<hr class="dashed">
	
<div id="project-description">	
	<h1>Alliance</h1>




<a href="http://www.alliancerepairs.com/" target="blank"><div id="site-link">Visit Site <i class="icon-chevron-right"></i></div></a>
	</div>

</div>
</div>