<h1>HEYposseterss</h1>

<% (['d', 'b', 'h', 'a', 'c']).each do |letter| %>

<div class="rally-wrapper">
<%= image_tag("rally-posters/ato-rally-poster-1-#{letter}.png", width: '480') %>
</div>

<% end %>
