<div id="ball-container">
	<div id="xVelocity">X-Velocity: <span></span></div>
	<div id="yVelocity">Y-Velocity: <span></span></div>
	<div id="ball-area">
		<div id="ball"></div>
		<div class="dot">.</div><div class="dot">.</div>
	</div>
</div>