<div id="projectArea">
	<h1 class="h1-header">
		<a href="/projects">Projects</a> <span>  &#62; Outfit Systems</span> </h1>
	<hr class="dashed">
	
	
	<div id="projects">
		<div class="row-fluid">
		
				<a href="/projects/outfit"><div id="outfitSystems" class="span8 shadow-dark bg-white"> 
					
					</div></a>
		
				<a href="/projects/ivlaundry"><div id="ivLaundry" class="span4 shadow-dark bg-white">
						
					</div></a>
		
			</div>
	</div>

</div>