<div id="set-game-container">
	<div class="row">

		<!-- <button type="button" data-toggle="modal" data-target="#highScoreModal">Launch modal</button> -->
		<!-- Modal -->
		<%= render 'project/set_end_game_modal' %>



		<div id="highscores-well" class="span4">
			<div class="well highscores">
				<div class="label">High Scores</div>
				<ol>
					<% @players.each do |player| %>
					<li>
						<span class="name"><%= player.name %></span>
						<span class="score"> <%= player.high_score %></span>

						<span class="date">
							<%= time_ago_in_words(player.created_at.strftime("%d %b. %Y")) + ' ago' %>
						</span>

					</li>
					<% end %>
				</ol>
			</div>
		</div>

		<div class="span4">
			<div class="well highscores">
				<div class="label">Game Rules</div>
				<ul>
					<li><span class="name">Find sets of <strong>3</strong> cards</span></li>
					<li>You cannot <strong>unclick</strong> any cards</li>
					<li>Game ends when no possible sets remain</li>
	<!-- 				<li><span class="name">Rules rules</span></li>
					<li><span class="name">Rules rules</span></li> -->
					<li><span class="name"><a href="http://setgame.com/set/rules_set.htm" target="_blank">Official Set<span style="font-size: 0.9em;">&#174;</span> Rules</a></span></li>
				</ul>
			</div>
		</div>

		<div class="span4">
			<div id="scoring-rules" class="well highscores">
				<div class="label">Scoring Rules</div>
				<ul>
					<li><span class="green"> +30 </span>Find correct Set</li>
					<li><span class="red"> -10 </span>Deal 3 cards </li>
					<li><span class="red"> -5 </span>Choose incorrect set</li>
					<li><span class="red"> -5 </span>Every 30 seconds of play </li>
				</ul>
			</div>
		</div>

	</div>
	
	<!-- ********************************************************* GAME -->

	<div id="top-row">
		
		<div id="score">
			<span id="label">Score:</span>
			<span id="count">100</span>

		</div>

		<div id="timer"> <span>0</span> seconds</div>

		<div id="possibilities">
			Possible Sets:
			<br>
			<span>~</span>
		</div>

		<div id="cards-left"> <span>81</span> cards left</div>
		
		<div id="add"> Deal 3 Cards </div>

	</div>


	<div id="cards-container">

	</div>

</div>

<!-- LOADING JQUERY UI -->
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
