<div id="set-game-container">
	<div id="score">
		<span id="label">Score:</span>
		<span id="count">100</span>
	</div>

	<div id="timer"> <span>0</span> seconds</div>

	<div id="spacer">
		Possible Sets:
		<br>
		 <span>~</span>
	</div>

	<div id="cards-left"> <span>81</span> cards left</div>
	
	<div id="add"> Deal 3 Cards </div>


	<div id="cards-container">

	</div>
</div>