<div id="true_false_container">
	<div class="row">
		<div class="span5 offset4">
			<div id="question">
				<span id="one">13</span>
				<span id="operator">x</span>
				<span id="two">4</span>
				<span> = </span>
				<span id="answer">52</span>
			</div>
		</div>
		<div class="span2">
			<div id="score">
				Score: <span id="current_score">0</span>
				<div id="tracker">
				<!-- Append Dots here! -->
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div id="choices" class="span5 offset4">
			<div id="true">
				True
			</div>
			<div id="false">
				False
			</div>
			<br>
			Use your keyboard!
		</div>
	</div>

</div>