div#ball-container{
	text-align: center;
	height: 800px;

	div#ball-area{
		// position relative for absolutely
		// positioned children
		position: relative;
		height: 500px;
		width:  600px;
		border: 1px solid #000;
		margin-left:  auto;
		margin-right: auto;

		div#ball{
			width:  18px;
			height: 18px;
			border: 1px solid blue;
			background-color: #3388AA;
			position: relative;
			top:  240px;
			left: 290px;
		}

		div.dot{
			position: absolute;
			top: 200px;
			left: 200px;
		}
	}
}