@import "variables";

div.container-fluid.nav-con {
	padding-left:0px;
	padding-right:0px;
	padding-top: 0px;
}

#nav {
	margin-top:10px;
	border-bottom: 1px solid #ccc;
	&.shadow {
		-webkit-box-shadow: 0px 7px 38px -12px #dfdfdf;
		-moz-box-shadow: 0px 7px 38px -12px #dfdfdf;
		box-shadow: 0px 7px 38px -12px #dfdfdf;
	}

	div.span4.myName {
		text-align: center;
		margin-top: 10px;
		h1.code-yellow {
			font-weight: 100;
		}
	}

	img.mike{
		width: 125px;
		padding: 10px 0;

		// margin-left: 15%;
	}
	div.span4:last-child{
		margin-top: 30px;
	}

	a#nav-linkedin{
		img{
			position: relative;
			top: 44px;
			width: 40px;
		}
	}
}


#links {
	margin-bottom: 10px;
	ul{
		display: inline;
		padding-bottom: 5px;
		li{
			display: inline;
			a {
				color: $code-black;
				&:hover{
					text-decoration: none;
					color: $code-yellow;
				}
				.active {
					color: $code-yellow !important;
				}
			}
		}
	}

}


.active {
	margin-left: 10px;
	margin-right: 10px;

	color: $code-yellow !important;
}


// *** ---------- Media Queries ----------- ***

@media screen and (max-width:1200px) {

}


@media screen and (max-width: 979px) {

}

@media screen and (max-width: 767px){
	div#nav{

		#links{
			text-align: center;
		}
		div.span4:last-child{
			margin-top: -10px;
		}		
	}

}

@media screen and (max-width: 480px){	
}
