@import "variables";

#nav.shadow {
	-webkit-box-shadow: 0 7px 24px -3px #2B2B2B;
	   -moz-box-shadow: 0 7px 24px -3px #2B2B2B;
	        box-shadow: 0 7px 24px -3px #2B2B2B;
}

#links {
	float:right;
	margin-right:20px;

	a {
		color: $code-black;
		&:hover{
			text-decoration: none;
			color: $code-yellow;
		}
		.active {
			margin-left: 10px;
			color: $code-yellow !important;
			}
	}

	}


.active {
			margin-left: 10px;
			margin-right: 10px;

			color: $code-yellow !important;
			}