$app-bg-color: #4A4A4A;
$app-bg-color: #fafafa; 
$app-bg-color-white: #e9e9e9; //NOTE very nice color
$code-yellow: #FFD573;
$code-yellow: #2B89BB;
$code-blue: #2B89BB;
$code-black: #333;

$progress-box: rgba(255, 213, 115, 0.7);
$progress-box-active: rgba(255, 213, 115, 0.8);