$app-bg-color: #4A4A4A;
//$app-bg-color: #e9e9e9; NOTE very nice color
$code-yellow: #FFD573;
$code-blue: #2B89BB;
$code-black: #202020;

$progress-box: rgba(255, 213, 115, 0.7);
$progress-box-active: rgba(255, 213, 115, 0.8);