$app-bg-color: #fcfcfc; 
$app-bg-color-white: #e9e9e9;
$code-blue: #2B89BB;
$complement-1: complement($code-blue);
$code-black: #333;

$yellow-orange: #e1ac67;

$admin-bg: #b9b9b9;

$progress-box: rgba(255, 213, 115, 0.7);
$progress-box-active: rgba(255, 213, 115, 0.8);

@mixin clickable {
  &:hover {
    cursor: pointer;
    cursor: hand;
  }
}
