/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "bootstrap-responsive";
 
/* App Wide Variable */
@import "variables";



body {
	background-color: $app-bg-color;
	font-family: "Andale Mono", AndaleMono, monospace;
	color: $code-black;

}

div.container-fluid {
	padding-top:5px;
}

.code-yellow {
	color: $code-yellow;
}

.code-blue {
	color: $code-blue;
}

hr {
	border-bottom:none;
	border-top:1px solid #6F6D6D;
	margin: 10px 0px;
	&.dashed{
		border-top:1px dashed #6F6D6D;
	}
}

.well {
	background-color: lighten($app-bg-color, 35%);
	//color: darken($code-yellow, 15%);
}