/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */
@import "twitter/bootstrap";
@import "twitter/bootstrap/responsive";
// @import "font-awesome";
 
/* App Wide Variable */
@import "variables";

a:hover{
	text-decoration: none;
}

body {
	background-color: $app-bg-color;
	font-weight: 200;
	// font-family: "Andale Mono", AndaleMono, monospace;
	color: $code-black;
	// padding-bottom:20px;
	h1,h2,h3,h4,h5,h6{
		font-weight: 300;
	}
}

.align-left{
	text-align: left;
}

.align-right{
	text-align: left;
}

.align-center{
	text-align: center;
}

div.container-fluid {
	padding-top:5px;
}

.code-yellow {
	color: $code-yellow;
}

.code-blue {
	color: $code-blue;
}

hr {
	border-bottom:none;
	border-top:1px solid #bbb;
	margin: 10px 0px;
	&.dashed{
		border-top:1px dashed #6F6D6D;
	}
}

.well {
	background-color: lighten($app-bg-color, 35%);
	//color: darken($code-yellow, 15%);
	h3{
		color: $code-yellow;
		span {
			font-size: 10px;
			color: gray;
		}
	}
}

.well-dark {
	background-color: lighten($app-bg-color, 5%);
}

h1.h1-header {
	color: $code-blue;
}


/* _________________________________________________________ Skills Page */

.progress-box {
	height: 25px;
	width:  25px;
	border: solid 1px $app-bg-color;
	background-color: lighten($app-bg-color, 10%);
	&.active-box {
		background-color: $progress-box;
	}
	&:hover {
		background-color: $progress-box-active;
	}
}

/* _________________________________________________________ Bio Page */

.picture-box {
	height: 250px;
	border: 1px solid darken($app-bg-color, 1%);
	border-bottom: 3px solid $code-yellow;
	background-color: lighten($app-bg-color, 10%);
	text-align: center;
	padding: 15px;
	p {
		margin:7px 0px;
	}
	img {
		height: auto;
		max-width: 95%;
		max-height: 200px;
	}
	// NOTE size of png is 250x222
	-webkit-box-shadow: 0 7px 24px -3px $code-yellow;
	   -moz-box-shadow: 0 7px 24px -3px $code-yellow;
	        box-shadow: 0 7px 24px -3px $code-yellow;
	&:hover {
			border-bottom: 3px solid $code-blue;

		-webkit-box-shadow: 0 7px 24px -3px $code-blue;
	   -moz-box-shadow: 0 7px 24px -3px $code-blue;
	        box-shadow: 0 7px 24px -3px $code-blue;
	}        
}



.bio {
	margin-bottom: 40px;
	padding-bottom: 25px;
	border-bottom: 2px solid gray;
}

/* _________________________________________________________ Projects Page */




/* _________________________________________________________ Contact Page */


div.span3.well.contactWell {
	text-align:center;

	h3{
		color: $code-blue;
		font-size: .9em;
	}
	h4{
		margin-top: 40px;
	}
}


