.picture-box {
  height: 250px;
  border: 1px solid darken($app-bg-color, 1%);
  border-bottom: 3px solid $code-blue;
  background-color: lighten($app-bg-color, 10%);
  text-align: center;
  padding: 15px;
  p {
    margin:7px 0px;
  }
  img {
    height: auto;
    max-width: 95%;
    max-height: 200px;
    border-radius: 10px;
  }
  // NOTE size of png is 250x222
  -webkit-box-shadow: 0 7px 24px -3px $code-blue;
     -moz-box-shadow: 0 7px 24px -3px $code-blue;
          box-shadow: 0 7px 24px -3px $code-blue;
  &:hover {
      border-bottom: 3px solid $code-blue;

    -webkit-box-shadow: 0 7px 24px -3px $code-blue;
     -moz-box-shadow: 0 7px 24px -3px $code-blue;
          box-shadow: 0 7px 24px -3px $code-blue;
  }        
}



.bio {
  margin-bottom: 40px;
  padding-bottom: 25px;
  border-bottom: 2px solid gray;
}
