// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.backdrop-image-1 {
  background-image: image-url("backdrops/sf-rowing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  box-shadow: inset 0px 0px 2px 0px #919191;
}

.backdrop-image-15 {
  @extend .backdrop-image-1;
  background-image: image-url("backdrops/mike_cottonwood_q1.jpg");
}

.backdrop-color {
  background-color: rgba(0,0,0,.6);
  height: 100%;
  width: 100%;
}

