$G-Blue:   #0266C8;
$G-Red:    #F90101;
$G-Yellow: #F2B50F;
$G-Green:  #00933B;

div.slogan{
	text-align:center;
	// padding: 30px;
	margin: 30px 0;

	font-size: 4.6em;
	font-weight: 100;
	line-height: 80%;
	&.center{
		clear:both;
	}
	span{
		// margin-right: -13px;
		&.blue{
			color: $G-Blue;
			// color: #FFD573;
		}
		&.red{
			color: $G-Red;
			color: $G-Blue;
			// color: #FFD573;
		}
		&.yellow{
			color: $G-Yellow;
			color: $G-Blue;
			// color: #FFD573;
		}
		&.green{
			color: $G-Green;
			color: $G-Blue;
			// color: #FFD573;
		}
	}
}

#search_stats{
	a{
		clear:both;
	}
}

div.asterisk{
	span{
		font-size: 5.0em;
	}
}

@-webkit-keyframes rainbow {
  0% {border-color: hsl(0, 100%, 50%);}
  100% {border-color: hsl(230, 80%, 70%);}
}
 
.rainbow_border{
  border-bottom: 10px solid hsl(0, 100%, 50%);
  -webkit-animation: rainbow 4s infinite alternate;
  border-radius: 4px;
}

 .line{
        margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

// *** ----------- Media Queries ---------- *** 
div.slogan{
	border-left: dotted 2px #ccc;
	margin-top: 100px;
	margin-bottom: 50px;
	&:first-child{
		margin-top: 50px;
	}
}

@media screen and (max-width:1200px) {

	div.slogan{
		
	}
}


@media screen and (max-width: 979px) {


	div.slogan{
		
	}
}

@media screen and (max-width: 767px){
	div.slogan{
		
	}

}

@media screen and (max-width: 480px){
	div.slogan{
		
		font-size: 3.0em;
		font-style: light;
	}
}