

@media screen and (max-width:1070px) {

	#links h4 a {
		font-size: 12px;
	}

	h4.typed {
		font-size: .9em !important;
		margin-left: 15px !important;
	}
}


@media screen and (max-width:765px) {

	h4.typed {
		font-size: 1.0em !important;
		margin-left: 10% !important;
	}

	.contactWell img {
		max-width: 60%;
	}
}


// @media screen and (max-width:) {

	
// }



// 1070 nav breaks down a line
