	div.slogan{
		border-left: solid 4px green;
	}

@media screen and (max-width:1200px) {

	// #links h4 a {
	// 	font-size: 12px;
	// }

	// h4.typed {
	// 	font-size: .9em !important;
	// 	margin-left: 15px !important;
	// }

	div.slogan{
		border-left: solid 4px red;
	}
}


@media screen and (max-width: 979px) {

	// h4.typed {
	// 	font-size: 1.0em !important;
	// 	margin-left: 10% !important;
	// }

	// .contactWell img {
	// 	max-width: 60%;
	// }

	div.slogan{
		border-left: solid 4px orange;
	}
}

@media screen and (max-width: 767px){
		div.slogan{
		border-left: solid 4px purple;
	}

}

@media screen and (max-width: 480px){
	div.slogan{
		border-left: solid 4px yellow;
		font-size: 3.0em;
		font-style: light;
	}
}