/* line 250, shapes/*.png */
.shapes-sprite, .shapes-gde, .shapes-gdf, .shapes-gds, .shapes-goe, .shapes-gof, .shapes-gos, .shapes-gse, .shapes-gsf, .shapes-gss, .shapes-pde, .shapes-pdf, .shapes-pds, .shapes-poe, .shapes-pof, .shapes-pos, .shapes-pse, .shapes-psf, .shapes-pss, .shapes-rde, .shapes-rdf, .shapes-rds, .shapes-roe, .shapes-rof, .shapes-ros, .shapes-rse, .shapes-rsf, .shapes-rss {
  background: image-url("shapes-s5120776c36.png") no-repeat;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-gde {
  background-position: 0 -1120px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-gdf {
  background-position: 0 -1920px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-gds {
  background-position: 0 -640px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-goe {
  background-position: 0 -480px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-gof {
  background-position: 0 -960px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-gos {
  background-position: 0 -320px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-gse {
  background-position: 0 0;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-gsf {
  background-position: 0 -800px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-gss {
  background-position: 0 -160px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-pde {
  background-position: 0 -3040px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-pdf {
  background-position: 0 -3360px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-pds {
  background-position: 0 -1600px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-poe {
  background-position: 0 -3680px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-pof {
  background-position: 0 -4000px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-pos {
  background-position: 0 -2080px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-pse {
  background-position: 0 -2400px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-psf {
  background-position: 0 -2720px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-pss {
  background-position: 0 -1280px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-rde {
  background-position: 0 -3200px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-rdf {
  background-position: 0 -3520px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-rds {
  background-position: 0 -1760px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-roe {
  background-position: 0 -3840px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-rof {
  background-position: 0 -4160px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-ros {
  background-position: 0 -2240px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-rse {
  background-position: 0 -2560px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-rsf {
  background-position: 0 -2880px;
}

/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.shapes-rss {
  background-position: 0 -1440px;
}