#true_false_container{
	padding-top: 50px;
	#question{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		height: 65px;
		width: 270px;
		background-color: #fff;
		border: 1px solid #ccc;
		padding-top: 30px;

		color: #000;
		font-size: 3.0em;
	}

	#score{
		position: relative;
		bottom: 96px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 220px;
		background-color: #fff;
		border: 1px solid #ccc;
		padding-top: 30px;

		color: #000;
		font-size: 3.0em;
		div#tracker{
			padding-top: 20px;
			a{
				display: inline-block;
				&.red{
					color: red;
					padding: 7px 6px;
					&:hover{
						color: darken(red, 20%);
						cursor: hand;
						cursor: pointer;
					}
				}
				&.green{
					color: green;
					padding: 7px 2px;
					&:hover{
						color: lighten(green, 20%);
						cursor: hand;
						cursor: pointer;
					}
				}
			}
		}
	}

	#choices{
		text-align: center;
	}
		#true, #false{
			display: inline-block;
			margin-top: 60px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			height: 50px;
			width: 45%;
			background-color: #fff;
			border: 1px solid #ccc;
			padding-top: 30px;

			color: #000;
			font-size: 3.0em;
			&:hover{
				background-color: rgb(232, 243, 248);
				cursor: hand;
				cursor: pointer;
			}
		}

	#true{
		border-bottom: 3px solid green;
	}

	#false{
		border-bottom: 3px solid red;
	}
}


// *** ----------- Media Queries ---------- *** 

@media screen and (max-width:1200px) {
	

}


@media screen and (max-width: 979px) {


}

@media screen and (max-width: 767px){
	#true_false_container{
		#score{
			bottom: 0px !important;
		}
	}

}

@media screen and (max-width: 480px){
	#true_false_container{
		#score{
			bottom: 0px !important;
		}
		#true{
			margin-top: 30px;
		}
		#false{
			margin-top: 30px;
			margin-bottom: 20px;
		}
	}

}