<div class="row-fluid">
	<div id="header-bar-1" class="span8 header-bar"> </div>
	<div id="header-bar-2" class="span2 header-bar"></div>
</div>

<div class="row-fluid">
	<div id="header-bar-3" class="span12 header-bar"></div>
</div>