

<div class="container-fluid" style="padding-left:6px; padding-right:6px;">
	<div id="nav" class="row-fluid shadow" style="margin-top:20px;">
		<div class="span4" style="text-align:center; margin-top:21px;">
			<h1 class="code-yellow" style="font-weight:100;">Mike Holubowski</h1>
			<hr style="margin-top:4px;">
			<hr style="width:90%;">
		</div>
		<div class="span4" style="text-align:center">
			<img src="http://www.gravatar.com/avatar/76743e4c14368f817ea4fff3c7e72b34.png?s=125" alt="Mike Holubowski - Gravatar" />
			<p>gravatar</p>
		</div>
		<div class="span4" style="margin-top:32px;">
			<h4 class="code-yellow typed" style="font-size: 1.2em;">Student <em>of</em> Web Development <span>&nbsp;</span></h4>
			<br>
			<hr>
			<hr style="width:90%; margin-left:10%;">
			<div id="links">
				<br>
				<br>
				<h4>//projects //skills <a>//bio</a></h4>
			</div>
		</div>
	</div>
</div>

