
<div class="container-fluid nav-con">
	<div id="nav" class="row-fluid shadow">

		<div class="span4 myName" >
			<%= link_to raw('<h1 class="code-yellow">Mike Holubowski</h1>'), root_url %>
		</div>

		<div class="span4 offset4">
			<%= render 'layouts/nav_links' unless current_page? root_path%>

		</div>
	</div>


	</div>
	</div>
</div>
